SECRET_KEY = ""
DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]

SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=bookstore
SQL_USER=bookstore
SQL_PASSWORD=bookstore
SQL_HOST=db
SQL_PORT=5432

# Informações para configurar o DropBox como um Storage
DROPBOX_CLIENT_ID_APP_KEY=
DROPBOX_CLIENT_SECRET_APP_SECRET=
DROPBOX_CODE_AUTHORIZATION=
DROPBOX_API_REFRESH_TOKEN=
DROPBOX_API_URL=https://api.dropbox.com/oauth2/token

# Informações para geração da secrets key, usada para criptografar backups
GEN_KEY_ENCRYPT_BACKUP_EMAIL=me@me.com
GEN_KEY_ENCRYPT_BACKUP_NAME=bookstore
GEN_KEY_ENCRYPT_BACKUP_PASSWORD=Decrypt@1 # encrypt && decrypt backup

# Celery conf
CELERY_ENABLED = 1
CELERY_BROKER_URL = "redis://redis:6379"
CELERY_RESULT_BACKEND = "redis://redis:6379"