SECRET_KEY = ""
DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]

SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=bookstore
SQL_USER=bookstore
SQL_PASSWORD=bookstore
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres


POSTGRES_USER=$SQL_USER
POSTGRES_PASSWORD=$SQL_DATABASE
POSTGRES_DB=$SQL_PASSWORD